#!/bin/sh

[ -z ${XDG_CONFIG_HOME} ] && export XDG_CONFIG_HOME="$HOME/.config"
[ -z ${XDG_CACHE_HOME} ] && export XDG_CACHE_HOME="$HOME/.cache"
[ -z ${XDG_DATA_HOME} ] && export XDG_DATA_HOME="$HOME/.local/share"

export PATH=$HOME/.local/bin:$PATH

#export MOZ_ENABLE_WAYLAND=1

export TERM='st'
export TERMINAL=$TERM # For xdg to open in a right terminal

export BROWSER='firefox'
