Xft.dpi: 96
URxvt.font: xft:FantasqueSansMono:size=14,xft:FontAwesome:size=12
URxvt.scrollBar: false
URxvt.perl-ext-common: default,resize-font
URxvt.keysym.C-j: resize-font:smaller
URxvt.keysym.C-k: resize-font:bigger
URxvt.keysym.C-equal: resize-font:reset
! transparency
!URxvt.depth: 32
!URxvt.background: rgba:1111/1111/1111/dddd

! special
*.foreground:   #ffffff
*.background:   #181818
*.cursorColor:  #c5c8c6

! black
*.color0:       #171421
*.color8:       #5e5c64

! red
*.color1:       #c01c28
*.color9:       #f66151

! green
*.color2:       #26a269
*.color10:      #33d17a

! yellow
*.color3:       #FAD02C
*.color11:      #e9ad0c

! blue
*.color4:       #1248bb
*.color12:      #2a7bde

! magenta
*.color5:       #a347ba
*.color13:      #c061cb

! cyan
*.color6:       #2aa1b3
*.color14:      #33c7de

! white
*.color7:       #d0cfcc
*.color15:      #ffffff
